* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size:15px;
    text-align: center;
}
body {
    background-color: hsl(212, 45%, 89%);
    display:flex;
    align-items:center;
    flex-direction: column;
    height:99vh;
    justify-content: center;
}

main {
    width: 380px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5em;
    padding:15px;
}

h1 {
    font-size:1.5em;
    padding:0.5em 1em;
    color: hsl(218, 44%, 22%);
    
}
img {
    max-width:100%;
    width:100%;
    border-radius: 2em;
}
p {
    color:hsl(220, 15%, 55%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:500px) {
    main {
        width:90vw;
        height: auto;
    }
}